<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div *ngFor="let alerta of alertas" class="font-weight-bold">
        <alert [type]="alerta.tipo" [dismissible]="alerta.cerrable"><i
          class="fa fa-exclamation-circle mr-1"></i>{{ alerta.mensaje }}</alert>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5>Cantidad de Bugs por Usuario</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="formUsuario">
            <div class="form-group">
              <label class="mt-2" for="correoElectronico">Correo electrónico (*)</label>
              <input
                type="email"
                [class]="(!formUsuario.controls['correoElectronico'].valid && formUsuario.controls['correoElectronico'].dirty) ? 'form-control is-invalid' : 'form-control'"
                formControlName="correoElectronico"
                id="correoElectronico"
                placeholder="Ingresa el correo electrónico"
                required
              />
              <div
                *ngIf="(!formUsuario.controls['correoElectronico'].valid && formUsuario.controls['correoElectronico'].dirty)"
                class="invalid-feedback">
                Ingresa un correo electrónico válido
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer d-flex flex-row justify-content-end">
          <button
            (click)="enviarForm()"
            type="submit"
            [disabled]="formUsuario.invalid"
            class="btn btn-md btn-primary mr-2"
          >
            <i class="fa fa-save mr-1"></i>Guardar
          </button>
          <button
            (click)="cancelarForm()"
            type="reset"
            class="btn btn-md btn-danger"
          >
            <i class="fa fa-remove mr-1"></i>Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
