<div class="app-body">
  <main class="main d-flex align-items-center mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="formAcceder">
                  <h1>Iniciar Sesión</h1>
                  <p class="text-muted">Accede a tu cuenta</p>
                  <div class="row">
                    <div class="col-12">
                      <div *ngFor="let alerta of alertas" class="font-weight-bold">
                        <alert [type]="alerta.tipo" [dismissible]="alerta.cerrable"><i
                          class="fa fa-exclamation-circle mr-1"></i>{{ alerta.mensaje }}</alert>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-envelope"></i></span>
                    </div>
                    <input type="email"
                           [class]="(!formAcceder.controls['correoElectronico'].valid && formAcceder.controls['correoElectronico'].dirty) ? 'form-control is-invalid' : 'form-control'"
                           placeholder="Correo Electrónico"
                           formControlName="correoElectronico"
                           required
                           email>
                    <div *ngIf="(!formAcceder.controls['correoElectronico'].valid && formAcceder.controls['correoElectronico'].dirty)"
                         class="invalid-feedback">
                      Ingresa un correo electrónico válido
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password"
                           [class]="(!formAcceder.controls['contrasena'].valid && formAcceder.controls['contrasena'].dirty) ? 'form-control is-invalid' : 'form-control'"
                           placeholder="Contraseña"
                           formControlName="contrasena"
                           required>
                    <div *ngIf="(!formAcceder.controls['contrasena'].valid && formAcceder.controls['contrasena'].dirty)"
                         class="invalid-feedback">
                      Ingresa una contraseña (mínimo 6 carácteres)
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-6">
                    <button
                      (click)="enviarForm()"
                      [disabled]="formAcceder.invalid"
                      type="button"
                      class="btn btn-primary px-4">Iniciar Sesión</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>JIRU</h2>
                  <p>Administra todos los incidentes de tu empresa en un solo lugar.</p>
                  <i class="cil-bug font-5xl"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
